.content
  %section
    - if flash[:notice]
      %h2= flash[:notice]

    = form_for @user, url: create_log_in_url do |f|
      = f.label :username
      = f.text_field :username

      = f.label :password
      = f.password_field :password

      = f.submit 'Log in'
