.project-slide.nested-fields.js-item
  %span.badge.js-position-label= f.object.position
  .form-field
    = link_to 'move higher', '#', class: 'js-position-down'
    = link_to 'move lower', '#', class: 'js-position-up'

  = f.hidden_field :position, class: 'position-input'
  = f.hidden_field :id

  - image = f.object.image.present? ? f.object.image : f.object.build_image

  = f.fields_for :image, image do |img|
    .form-field
      %label Image
      - if img.object.attachment.present?
        .preview-img
          = image_tag img.object.attachment.url(:medium)
        %span= img.object.attachment.url(:medium)

      %label
        Click to Add Image
        = img.file_field :attachment

  .form-field
    %label Caption
    = f.text_area :description, rows: 6

  = link_to_remove_association "×", f, class: 'delete-slide'
