%h1 Admin - Projects

= link_to 'Create a New Project', new_admin_project_url

%table
  %thead
    %th Category
    %th Published?
    %th Title
    %th Thumbnail
    %th Description
    %th Position
    %th Actions

  - @projects.each do |project|
    %tr
      %td= project.category
      %td= project.is_published ? 'T' : 'F'
      %td= project.title
      - cover_image = project.cover_image

      - if cover_image.present? && cover_image.attachment.present?
        %td= image_tag cover_image.attachment(:thumb)
      - else 
        %td

      %td= project.description.present? ? project.description : 'n/a'
      %td= project.position
      %td
        = link_to 'View', admin_project_url(project)
        = link_to 'Edit', edit_admin_project_url(project)
        = link_to 'Destroy', admin_project_url(project), method: :delete, data: { confirm: "Are you sure you want to delete #{project.title}?" }
