%h1 Admin - Projects

%nav
  = link_to 'Edit', edit_admin_project_url(@project)
  = link_to 'Back', admin_projects_url

- unless @project.is_published
  .published Warning: This project is not published, and is not visible on any page but this one. Edit this project and set it to "Published" when it is ready to be seen.

%h3 Title
.title= @project.title

%h3 Description
.description= @project.description.present? ? @project.description : 'No description set'

%h3 Category
.category= @project.category

- if @project.cover_image.present?
  %h3 Cover Image
  .cover-img= image_tag @project.cover_image.attachment.url(:medium)
  .cover-img-url= @project.cover_image.attachment.url(:medium)

- if @project.slides.any?
  %h3 Slides
  - @project.slides.each.with_index(1) do |slide, i|
    .project-slide
      %h3= "Slide #{i}"
      %h4 Caption
      .caption= slide.description.present? ? slide.description : 'No caption set'

      - if slide.image.present?
        .preview-img= image_tag(slide.image.attachment.url(:medium))
        %span= link_to slide.image.attachment.url, slide.image.attachment.url, target: '_blank'
