%h1 Admin - About

= form_for @about, url: admin_about_url, html: { multipart: true } do |f|
  = f.fields_for :cover_image, @cover_image do |cover_image_fields|
    .form-field
      %label Cover Image
      - if @cover_image.attachment.present?
        .preview-img= image_tag @cover_image.attachment.url, width: 80
        %span= @cover_image.attachment.url
      = cover_image_fields.file_field :attachment

  .form-field
    %label Description
    %span
      Use 
      = link_to 'Markdown syntax', 'https://help.github.com/articles/basic-writing-and-formatting-syntax/#links'
      for formatting text and links 
    = f.text_area :description, rows: 20

  = f.submit 'Update About Page'
